@import url("http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400");


.auditoryPhoto{
	display:block;
	margin:0 auto;
	width:420px;
	height:420px;
}

#audio-boy{
	position:absolute;
	width:75px;
	left:0;
	margin-top:-11px;
	margin-left:15px;
}

#audio-boy:hover{
	cursor:pointer;
}

#email{
	color:white;
	text-decoration: none;
	font-size:13px;
}

#email:hover{
	cursor:pointer;
}

#copyright{
	color:white;
	font-size:12px;
}

#rights{
	color:white;
	font-size:12px;	
}


/* Desktop
================================================== */

.container { position:relative; margin:0 auto; width:420px; }
.column { width:inherit; }


/* Tablet (Portrait)
================================================== */

@media only screen and (min-width: 420px) and (max-width: 420px) {
.container { width:420px;}
}


/* Mobile (Portrait)
================================================== */

@media only screen and (max-width: 420px) {
.container { width:420px; }
}


/* Mobile (Landscape)
================================================== */

@media only screen and (min-width: 420px) and (max-width: 420px) {
.container { width:420px; }
}


/* CSS Reset
================================================== */

html,body,div,span,h1,h6,p,a,ul,li,audio {
border:0;
font:inherit;
font-size:15px;
margin:0;
padding:0;
vertical-align:baseline;
}

body { 
	line-height:1; 
	background-color:black;
	background:url('https://i.imgur.com/o42bWpK.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%; 
}

ul { list-style:none; }


/* Basic Styles
================================================== */

html,body {
-webkit-font-smoothing:antialiased;
-webkit-text-size-adjust:100%;
background-color:#111;
color:white;
font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:300;
padding:5px 0;

}


/* Typography
================================================== */

h1,h6,p { color:#808080; font-weight:200; }
h1 { font-size:42px; line-height:44px; margin:20px 0 0; }
h6 { font-size:18px; line-height:20px; margin:4px 0 20px; }
p { font-size:18px; line-height:20px; margin:0 0 2px; }


/* Links
================================================== */

a,a:visited { color:#ddd; outline:0; text-decoration:underline; }
a:hover,a:focus { color:#bbb; }
p a,p a:visited { line-height:inherit; }


/* Misc.
================================================== */

.add-bottom { margin-bottom:20px !important; }
.left { float:left; }
.right { float:right; }
.center { text-align:center; }


/* Custom Styles
================================================== */

/* CSS Transitions */
* {
-moz-transition:all 100ms ease;
-o-transition:all 100ms ease;
-webkit-transition:all 100ms ease;
transition:all 100ms ease;
}

/* Highlight Styles */
::selection { background-color:black; color:#444; }
::-moz-selection { background-color:black; color:#444; }


/* Audio Player Styles
================================================== */

/* Default / Desktop / Firefox */
audio { margin:0 auto; width:100%; display:block; }
#mainwrap { /* add box-shadow or other styles here */ }
#audiowrap { width:100%; background-color:black; margin:0 auto; }
#plwrap { margin:0 auto; }
#tracks { min-height:65px; position:relative; text-align:center; text-decoration:none; top:13px; }
#nowPlay { display:inline; margin:0 auto; width:100%; }
#npTitle { margin:0 auto; padding:12px; text-align:center; width:100%;}
#npAction { padding:21px; position:absolute; }
#plList { margin:0; }
#plList li { background-color:black; cursor:pointer; margin:0; padding:21px 0; }
#plList li:hover { background-color:black; }
.plItem { position:relative; }
.plTitle { left:50px; overflow:hidden; position:absolute; right:65px; text-overflow:ellipsis; top:0; white-space:nowrap; }
.plNum { padding-left:21px; width:25px; }
.plLength { padding-left:21px; position:absolute; right:21px; top:0; }
.plSel,.plSel:hover { background-color:black!important; cursor:default!important; }
a[id^="btn"] { background-color:black; color:#C8C7C8; cursor:pointer; font-size:50px; margin:0; padding:0 27px 11px; text-decoration:none; }
a[id^="btn"]:last-child { margin-left:-4px; }
a[id^="btn"]:hover,a[id^="btn"]:active { background-color:black; }
a[id^="btn"]::-moz-focus-inner { border:0; padding:0; }

/* IE 9 */
html[data-useragent*="MSIE 9.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="MSIE 9.0"] #audiowrap { width:100%; background-color:black; margin:0 auto; }
html[data-useragent*="MSIE 9.0"] #tracks { min-height:57px; top:5px; }
html[data-useragent*="MSIE 9.0"] a[id^="btn"] { background-color:black; }
html[data-useragent*="MSIE 9.0"] a[id^="btn"]:hover { background-color:black; }
html[data-useragent*="MSIE 9.0"] #plList li { background-color:black; }
html[data-useragent*="MSIE 9.0"] #plList li:hover { background-color:black; }
html[data-useragent*="MSIE 9.0"] .plSel,
html[data-useragent*="MSIE 9.0"] .plSel:hover { background-color:black!important; }

/* IE 10 */
html[data-useragent*="MSIE 10.0"] audio {  width:100%; margin:0 auto; display:block;}
html[data-useragent*="MSIE 10.0"] #audiowrap { width:100%; background-color:black; margin:0 auto; }
html[data-useragent*="MSIE 10.0"] #tracks { min-height:60px; top:8px; }
html[data-useragent*="MSIE 10.0"] a[id^="btn"] { background-color:black; }
html[data-useragent*="MSIE 10.0"] a[id^="btn"]:hover { background-color:black; }
html[data-useragent*="MSIE 10.0"] #plList li { background-color:black; }
html[data-useragent*="MSIE 10.0"] #plList li:hover { background-color:black; }
html[data-useragent*="MSIE 10.0"] .plSel,
html[data-useragent*="MSIE 10.0"] .plSel:hover { background-color:black!important; }

/* IE 11 */
html[data-useragent*="rv:11.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="rv:11.0"] #audiowrap { width:100%; background-color:black; margin:0 auto; }
html[data-useragent*="rv:11.0"] #tracks { min-height:60px; top:8px; }
html[data-useragent*="rv:11.0"] a[id^="btn"] { background-color:black; }
html[data-useragent*="rv:11.0"] a[id^="btn"]:hover { background-color:black; }
html[data-useragent*="rv:11.0"] #plList li { background-color:black; }
html[data-useragent*="rv:11.0"] #plList li:hover { background-color:black; }
html[data-useragent*="rv:11.0"] .plSel,
html[data-useragent*="rv:11.0"] .plSel:hover { background-color:black!important; }

/* All Apple Products */
/*html[data-useragent*="Apple"] audio { margin:0; width:100%; }
html[data-useragent*="Apple"] #audiowrap { width:100%; background-color:black; }
html[data-useragent*="Apple"] #tracks { min-height:64px; top:12px; }
html[data-useragent*="Apple"] a[id^="btn"] { background-color:black; }
html[data-useragent*="Apple"] a[id^="btn"]:hover { background-color:black; }
html[data-useragent*="Apple"] #plList li { background-color:black; }
html[data-useragent*="Apple"] #plList li:hover { background-color:black; }
html[data-useragent*="Apple"] .plSel,
html[data-useragent*="Apple"] .plSel:hover { background-color:black!important; }*/

/* IOS 7 */
html[data-useragent*="OS 7"] body { color:#373837; }
html[data-useragent*="OS 7"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="OS 7"] #audiowrap { width:100%; background-color:black; margin:0 auto; }
html[data-useragent*="OS 7"] #tracks { min-height:75px; top:23px; }
html[data-useragent*="OS 7"] a[id^="btn"] { background-color:black; color:#373837; }
html[data-useragent*="OS 7"] a[id^="btn"]:hover { background-color:black; }
html[data-useragent*="OS 7"] #plList li { background-color:black; }
html[data-useragent*="OS 7"] #plList li:hover { background-color:black; }
html[data-useragent*="OS 7"] .plSel,
html[data-useragent*="OS 7"] .plSel:hover { background-color:black!important; }

/* Chrome */
html[data-useragent*="Chrome"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"] #tracks { min-height:64px; top:12px; }
html[data-useragent*="Chrome"] #audiowrap { width:100%; background-color:black; margin:0 auto; }
html[data-useragent*="Chrome"] a[id^="btn"] { background-color:black; }
html[data-useragent*="Chrome"] a[id^="btn"]:hover { background-color:black; }
html[data-useragent*="Chrome"] #plList li { background-color:black; }
html[data-useragent*="Chrome"] #plList li:hover { background-color:black; }
html[data-useragent*="Chrome"] .plSel,
html[data-useragent*="Chrome"] .plSel:hover { background-color:black!important; }

/* Chrome / Android / Tablet */
html[data-useragent*="Chrome"][data-useragent*="Android"] audio {width:100%; margin:0 auto; display:block;}


/* Audio Player Media Queries
================================================== */

/* Tablet Portrait */
@media only screen and (min-width: 420px) and (max-width: 420px) {
audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="MSIE 9.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="MSIE 10.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="rv:11.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="OS 7"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"][data-useragent*="Android"] audio { width:100%; }
}

/* Mobile Landscape */
@media only screen and (min-width: 420px) and (max-width: 420px) {
audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="MSIE 9.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="MSIE 10.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="rv:11.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="OS 7"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio { width:100%; }
#npTitle { margin:0 auto; padding:12px; text-align:center; width:100%;}
}

/* Mobile Portrait */
@media only screen and (max-width: 420px) {
audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="MSIE 9.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="MSIE 10.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="rv:11.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="OS 7"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio { width:100%; }
#npTitle { margin:0 auto; padding:12px; text-align:center; width:100%;}
}




